.gradle
.idea
.kotlin
.vscode
*.aar
*.so
*.iml
**/.DS_Store
build/
obj/
local.properties
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
TMessagesProj/afat/
TMessagesProj/jni/ffmpeg/build_android
*.keystore
!TMessagesProj/release.keystore
*.jks